# Python
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
.venv/

# Project outputs
outputs/

# Editors/IDE
.idea/
.vscode/

AtomSCF.xml

*.egg-info/

# Sphinx documentation
docs/build/
docs/source/api/generated/
build/

# Archived old tutorials
docs/source/tutorials/_archived/
